body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('assets/fon.png') no-repeat center center fixed;
    background-size: cover;
}

canvas {
    border: 2px solid black;
    width: 100%; /* Делает канвас шириной 100% экрана */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

@media (max-width: 600px) {
    canvas {
        width: 100vw; /* Ширина канваса будет равна ширине окна просмотра */
        height: 100vh; /* Высота канваса будет равна высоте окна просмотра */
    }
}
