body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('assets/fon.png') no-repeat center center fixed;
    background-size: cover;
}

canvas {
    border: 2px solid black;
    width: 100vw; /* Ширина канваса будет равна ширине окна просмотра */
    height: 100vh; /* Высота канваса будет равна высоте окна просмотра */
}

@media (min-width: 601px) {
    canvas {
        width: 800px; /* Устанавливаем ширину для больших экранов */
        height: 600px; /* Фиксированная высота на десктопах */
    }
}
